<div class="row mt-3">
  <div class="col-sm-12">
    <p><mark>Main Task</mark></p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let taskItem of mainTask">
        <app-task [taskItem]="taskItem"></app-task>
      </li>
    </ul>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-12">
    <p><mark>Important Tasks</mark></p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let taskItem of importantTasks">
        <app-task [taskItem]="taskItem"></app-task>
      </li>
    </ul>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-12">
    <p><mark>Small Tasks</mark></p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let taskItem of smallTasks">
        <app-task [taskItem]="taskItem"></app-task>
      </li>
    </ul>
  </div>
</div>
